*{  
    /* border: 01px solid; */
    font-family: 'Poppins', sans-serif;
}   

.parallax-image{
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#skills-logos img{
    opacity: 0.5;
    filter: grayscale(100%);
}

#skills-logos img:hover{
    transition: 0.2s;
    opacity: 1;
    filter: grayscale(0%);
}

.title{
    position: relative;
    top: 15rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: #474747 3px 5px 2px;
}

.acercademi{
    position: relative;
    top: 5rem;
}

.habilidades{
    position: relative;
    top: 5rem;
}

.proyectos{
    margin-top: 5rem;
}

.navbar{
    background-color: transparent;
    transition: all 0.2s;
}

.contact{
    position: relative;
    top: 15rem;
    margin-top: 0.5rem;
    text-align: center;
}

.footer{ 
    text-align: center;
    color: #f5f5f5;
    background-color: #222;
}

.contact .github-link:hover{
    text-decoration: none;
    color: #000;
}

.contact .mail-link:hover{
    text-decoration: none;
    color: #dd4f42;
}

.contact .linkedin-link:hover{
    text-decoration: none;
    color: #0e76a8;
}

.contact .instagram-link:hover{
    text-decoration: none;
    color: #e4405f;
}

.contact .twt-link, .contact .mail-link, .contact .github-link, .linkedin-link{
    text-align: center;
    text-decoration: none;
    color: #666;
    transition: 0.2s;
    margin: 5px 3px;
}

div#about, div#skills{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100%;
    margin-bottom: 2px;
}
