*{  
    font-family: 'Poppins', sans-serif;
}   

div.container *{
    border: 0px solid;
}

.contact .github-link{
    text-decoration: none;
    color: #24292E;
}


.contact .mail-link{
    text-decoration: none;
    color: #dd4f42;
}


.contact .twt-link{
    text-decoration: none;
    color: #00acee;
}

.contact .twt-link:hover, .contact .mail-link:hover, .contact .github-link:hover{
    text-decoration: none;
    color: #ffe140;
    transition: 0.2s;
}

canvas{
    background: #eee;
}